@import url(https://fonts.googleapis.com/css?family=Orbitron);

:root {
    /* Base font size */
    font-size: 10px;

    /* Change neon color */
    --neon-color: #C02834;
}


body {
	font-family: "Contrail One";
	display: flex;
	justify-content: center;
	align-items: top;
	background-color: #00100B;
	min-height: 100vh;
	width: 1000px;
	margin: 0 auto;
	
}


h1 {
	font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    color: #fff;
    padding: 3rem 6rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
	margin-left: 150px;
	margin-right: 150px;
    text-transform: uppercase;
	text-align: center;

    text-shadow: 
        -0.2rem -0.2rem 1rem #C02834, 
        0.2rem 0.2rem 1rem #C02834,
        0 0 2rem var(--neon-color), 
        0 0 4rem var(--neon-color),
        0 0 6rem var(--neon-color), 
        0 0 8rem var(--neon-color),
        0 0 10rem var(--neon-color);

    box-shadow: 
        0 0 0.5rem #C02834, 
        inset 0 0 0.5rem #C02834,
        0 0 2rem var(--neon-color), 
        inset 0 0 2rem var(--neon-color),
        0 0 4rem var(--neon-color), 
        inset 0 0 4rem var(--neon-color);
}

h1::-moz-selection {
    background-color: var(--neon-color);
}

h1::selection {
    background-color: var(--neon-color);
}

a {
  background: #fefefe;
  text-decoration: none;
  display: block;
  padding: 2px; 
  color: black;
}
a:hover {
  background: #C02834;
  color: white;
}
a:active {
  background: blue;
  color: white;
}

.navbar {
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	position: top;
	color: white;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-top:30px;

}

.navbar > div {
	background-color: #fefefe;
	padding:10px;
}

#countdown {
	color: #C02834;
	font-size: 5rem;
	text-align: center;
	margin-top: 40px;
}

#intro {
	color: #ffffff;
	font-size: 1.7rem;
	text-align: center;
	margin-top:30px;
}

#broke1 {
	color: #C02834;
	font-size: 5rem;
	text-align: center;
	margin-top:30px;
}

#broke2 {
	color: #ffffff;
	font-size: 1.7rem;
	text-align: center;
	margin-top:10px;
}

#image {
	text-align: center;
	margin-top:10px;
}

#video {
	text-align: center;
	margin-top:10px;
	font-size: 2rem;
}

#vidinfo {
	color: #FFF;
	font-size: 2rem;
	text-align: center;
	margin-top:30px;
}

#table {
	color: #C02834;
	font-size: 2rem;
	text-align: center;
}

#when {
	color: #C02834;
	font-size: 2rem;
	text-align: center;
}

#wheninfo {
	color: #FFF;
	font-size: 2rem;
	text-align: center;
	margin-top:30px;
}

#afterparty {
	color: #C02834;
	font-size: 2rem;
	text-align: center;
}

#apinfo {
	color: #FFF;
	font-size: 2rem;
	text-align: center;
	margin-top:30px;
}

#contact {
	color: #C02834;
	font-size: 2rem;
	text-align: center;
	margin-top:30px;
}

#contactinfo {
	color: #FFF;
	font-size: 2rem;
	text-align: center;
	margin-top:30px;
}

#contactbox {
	color: #C02834;
	font-size: 2rem;
	text-align: center;
	margin-top:30px;
}

.shoplinks {
	color: #FFF;
	font-size: 5rem;
	text-align: center;
	margin-top:30px;
	margin-left:300px;
	margin-right:300px;
}

.shoplinks > div {
	background-color: #fefefe;
	padding:10px;
}
